html{
	font-family: "microsoft yahei";
	font-size: 16px;
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color: #000;
}
.auto{
	margin: 0 auto;
}
.clearfix::after{
	content: '';
	display: block;
	clear: both;
}
.top1{
	width: 1000px;
	height: 25px;
	line-height: 25px;
	background-color: #333;
	color: #ccc;
	font-size: 12px;
}
.top1>div{
	width: 840px;
}
.top2{
	width: 1000px;
	height: 60px;
	line-height: 60px;
	background-color: orangered;
}
.top2 img{
	width: 200px;
	height: 60px;
}
.top2 ul{
	width: 800px;
	height: 60px;
	float: right;
}
.top2 ul li{
	width: 130px;
	height: 60px;
	float: left;
	text-align: center;
}
.top2 ul li:hover{
	background-color: rgba(0,0,0,0.5);
}
.top2 ul li a{
	color: #fff;
}
h1{
	height: 50px;
	text-align: center;
	color: darkblue;
	margin-top: 30px;
	margin-bottom: 30px;
}
h3{
	width: 100px;
	height: 30px;
	background-color: darkblue;
	
	text-align: center;
	line-height: 30px;
	margin: 20px 0 0 460px;
}
h3 a{
	color: #FFF;
	font-size: 24px;
}
.main{
	width: 1000px;
}
.main>div{
	width: 100%;
	height: 70px;
	line-height: 70px;
}
.main>div:nth-of-type(odd){
	background-color: #999;
}
.main>div:nth-of-type(even){
	background-color: #eee;
}
.main>div>div{
	width: 350px;
	height: 40px;
	margin-left: 380px;
}
.main>div>div input{
	width: 160px;
	height: 30px;
}
.footer{
	margin-top: 50px;
	width: 1000px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #333;
	color: #999;
}